/* GENERAL STYLE */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Space Grotesk', sans-serif;
}

.container {
    margin: 0px auto;
    border-color: red;
    border: 10px;

    width: 90%; /* Example: Container takes 90% of the viewport width */
    max-width: 1200px; /* Set a maximum width to prevent overly wide layouts */
    padding: 20px; /* Add padding for spacing */
}


/* NAV BAR  */

nav {
    border: 5px solid black;
    padding: 15px;
}


/* MAIN BODY  */

/* SECTION ONE - ME */
.about_me {
    display: flex; /* Use flexbox to create columns */
    border: 5px solid blue;
    height: auto; /* Adjust as needed */
    max-width: 100%; /* Make sure the container doesn't exceed the screen width */
}

.about_content {
    flex: 2 ; /* two columns or 2/3 of page*/
    padding: 20px; /* Adding some padding for spacing */
}


.about_image {
    display: flex;
    align-items: center;
    flex: 1; /* Take up 1/3 of the available width */
    padding: 20px; /* Adding some padding for spacing */
}

.headshot {
    height: auto;
    max-width: 100%; 
    border-radius: 100%;
}

h1 {
    font-size: x-large;
}


/* SECTION TWO - SKILLS */
.skills {
    border: 5px solid violet;
    padding: 20px; /* Adding some padding for spacing */
}

.skills-row {
    display: flex;
    justify-content: space-evenly; 
    align-items: center; /*Center align the icons*/
    margin-bottom: 20px; /* Adds spacing between rows */
}

.skill {
    display: flex; /* flex display to align icon and text */
    flex-direction: column; /* Stacks icon and text vertically */
    align-items: center; 
    text-align: center; 
}

.skill-small {
    display: flex; /* flex display to align icon and text */
    flex-direction: column; /* Stacks icon and text vertically */
    align-items: center; 
    text-align: center; 
    padding: 0 40px;
}

.skill p {
    margin: 0; /* Removes the margins around my P tags */
}


.icon{
    width: 60px;
}

/* Responsive adjustments */
@media (max-width: 768px) { 
    .skills-row {
        flex-wrap: wrap; 
        justify-content: space-evenly; 
    }

    .skill {
        margin: 20px;
    }
}

/* SECTION THREE - PROJECTS */
.projects {
    border: 5px solid yellow;
    padding: 20px; /* Adding some padding for spacing */
}



/* SECTION FOUR - MORE ABOUT ME */
.just_me {
    border: 5px solid hotpink;
    padding: 20px; /* Adding some padding for spacing */
}

.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 5px;
}

.scroll-container img {
    padding: 10px;
    height: 400px;
}